button {
  font-size: 14px; 
  padding: 15px 15px; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.yes {
  background-color: #4caf50;
  color: white;
}

.no {
  background-color: #f44336;
  color: white;
  position: relative;
}
